$color-fondo:black;
$color-fondo-alternativo:white;

$color-tipogrfia:white;
$color-tipografia-alternativo:black;

$tipografia-textos:"Bungee";
$tipografia-titulos:"Bungee";
$tipografia-navBar:"Bungee";